<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav style="display: flex; justify-content: left; background-color: transparent !important; padding: 1px 0; margin-top: 0;">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('prediction') }}">Predict</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </nav>
    </header>
    <main>
        <h1 style="text-align: center;">Register</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>
                        alert("{{ message }}");
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="number" name="age" placeholder="Age" required>
            <button type="submit" class="btn">Register</button>
        </form>
    </main>
</body>
</html>